<div class="center jumbotron">
  <div class="text-center">
    <h1 class="mt-3">Welcome to the Tasklist application</h1>
    <div class="mt-5">
    <%= link_to 'Sign up now!', signup_path, class: 'mt-5 btn btn-lg btn-primary' %>
    </div>
  </div>
</div>